.blog-posts-section {
    padding: 4rem 2rem;
    background-color: var(--color-background);
    color: var(--color-text);
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: var(--font-family-primary);
}

.blog-posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-post-card {
    display: flex;
    flex-direction: column; /* Ensure the card content is arranged vertically */
    justify-content: space-between; /* Distribute space between elements */
    background-color: var(--color-container-background);
    border-radius: 8px;
    margin: 1rem;
    padding: 1.5rem;
    max-width: 340px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-post-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.icon-container {
    margin-bottom: 1rem;
}


.image-blog-post {
    width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 1rem;
    border-radius: 8px;
}


.read-more-button-landing-page {
    display: inline-block;
    padding: 1rem;
    border: 2px solid var(--color-warning);
    color: var(--color-text);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
    align-self: center; /* Align the button at the bottom of the card */
}

.read-more-button-landing-page:hover {
    border: 2px solid var(--color-secondary);
    color: var(--color-text);
    text-decoration: none;
}

@media (max-width: 768px) {
    .blog-post-card {
        width: 100%;
    }
}

@media (max-width: 433px) {
    .blog-post-card {
        width: 100%;
    }
}