@import './variables.css';

.scroll-to-top {
    position: fixed;
    bottom: 90px;
    right: 50px;
    display: none;
    background: var(--color-accent-secondary);
    color: #fff;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    z-index: 10000;
  }
  
  .scroll-to-top.show {
    display: block;
  }
  