/* contact.css */
@import './variables.css';

p {
    text-align: left;
}

.banner-container{
  width: 100%;
  height: 15rem; /*set a fixed height for the banner*/
  overflow: hidden; /*Ensures the image doesn't cause horizontal scrolling*/
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /*Ensures the image covers the container without distortion*/
}

.contact-container {
  --border-radius: 10px;
  --button-padding: 1.25rem 4rem;
  --emoji-font-size: 2rem;
}

.contact-container {
  padding: var(--spacing-large);
  max-width: 600px;
  margin: 0 auto;
  background: var(--background-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.contact-container h1 {
  margin-bottom: var(--spacing-medium);
  color: var(--heading-color);
}

.form-group {
  margin-bottom: var(--spacing-medium);
}

.form-group label {
  display: block;
  margin-bottom: var(--spacing-small);
  color: var(--text-color);
}

.form-group input,
.form-group textarea {
  width: 98%;
  padding: var(--spacing-small);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  background-color: var(--input-background-color);
  color: var(--text-color);
}

.form-group textarea {
  height: 150px;
}

.form-group input:hover,
.form-group textarea:hover,
.form-group select:hover {
  border: 2px solid var(--input-hover-border-color);
}

.submit-button {
  padding: var(--button-padding);
  background: var(--color-warning);
  color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin: 0 auto; /* Centering the button */
  display: block; /* Centering the button */
}

.submit-button:hover {
  background: var(--color-secondary);
}

.success-message {
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--success-text-color);
  font-size: large;
  background-color: var(--success-bg-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-small) var(--spacing-small) var(--spacing-medium);
  margin-top: var(--spacing-large);
}

.success-message .emoji {
  font-size: var(--emoji-font-size);
}

.error-message{
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--error-text-color);
  font-size: large;
  background-color: var(--error-bg-color);
  border-radius: var(--border-radius);
  padding: var(--spacing-small) var(--spacing-small) var(--spacing-medium);
  margin-top: var(--spacing-large);
}


.container-contact-copyright p{
  text-align: right;
}

@media (min-width: 768px) {
  .form-row {
    display: flex;
    justify-content: space-between;
  }

  .half-width {
    width: 47%;
  }

  .centered {
    text-align: center;
  }
}
