/* src/styles/knowledge.css */
@import './variables.css';

/* Global styles */
*,
*::before,
*::after {
    box-sizing: border-box; /* Ensures consistent box model for all elements */
}

.info-page {
    display: flex;
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100vh;
    overflow: hidden; /* Prevents overflow to keep the layout clean */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: var(--spacing-large);
}

.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.search-bar {
    width: 100%;
    padding: var(--spacing-small);
    border: 4px solid var(--color-container-background);
    border-radius: 8px;
    padding-right: 40px; /*space for the icon*/
}

.search-bar:hover,
.search-bar:focus {
    border: 4px solid var(--color-hover-border); /* Highlight border on hover and focus */
}

.search-icon {
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    color: var(--color-container-background); /* Match the icon color to the container background */
}

.sidebar {
    width: 190px;
    background-color: var(--color-sidebar-background);
    padding: var(--spacing-medium);
    position: absolute;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10; /* Ensures the sidebar is above other elements */
}

.sidebar ul {
    list-style: none;
    padding: 0; /* Removes default padding for list */
}

.sidebar.open {
    transform: translateX(0); /* Slides the sidebar into view */
}

.sidebar h2 {
    font-size: var(--font-size-large); /* Adjusts heading size within the sidebar */
    color: var(--color-sidebar-heading);
}

.sidebar a {
    color: var(--color-sidebar-text);
    padding-left: var(--spacing-medium);
}

/* Styles for the selected category in the sidebar */
.active-category,
.active-media-type {
    font-weight: bold;
    background: #b7e4c7a3;
    border-radius: 8px;
    padding: var(--spacing-minimal); /* Adds minimal padding for the highlighted item */
}


.close-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2.5em;
    color: var(--color-close-btn);
    cursor: pointer;
    position: absolute;
    top: -23px;
    right: -23px; /* Positions the close button */
}

.reset-btn {
    background-color: var(--color-secondary);
    color: var(--color-text);
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-large);
    border: none;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.reset-btn:hover {
    background-color: var(--color-warning); /* Changes color on hover */
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20; /* Ensures the menu button is above other elements */
    background-color: var(--color-sidebar-background); /* Match the sidebar color */
}

.content {
    flex-grow: 1;
    padding: var(--spacing-medium);
    overflow-y: auto; /* Allows vertical scrolling */
    display: flex;
    flex-direction: column;
    margin-left: 190px; /* Align with sidebar width */
}

.media-section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-medium);
    flex-grow: 1;
}

.container-content-articles,
.container-content-books,
.container-content-videos {
    background-color: var(--color-container-background);
    border-radius: 8px;
    padding: var(--spacing-small);
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}

.article-item,
.book-item,
.video-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    padding: 0 var(--spacing-medium);
}

.article-item:hover,
.book-item:hover,
.video-item:hover {
    border: 2px solid var(--color-hover-border);
    border-radius: 8px;
    margin: var(--spacing-small) 0.75rem;
    padding: var(--spacing-medium); /* Adds padding for better spacing on hover */
}

/* Highlight styles */
.article-item.highlighted,
.book-item.highlighted,
.video-item.highlighted {
    border: 5px solid var(--color-info); /* Example highlight style */
    border-radius: 8px;
    background-color: var(--color-background-highlight); /* Example highlight background */
    position: relative; /* Ensure relative positioning for the button */
    margin: var(--spacing-small) 0.75rem;
    padding: var(--spacing-medium); /* Adds padding for better spacing on hover */
}

.highlight-category{

    background-color: var(--color-background-highlight);  /* Highlight background for category tags */
}

.clear-highlight-btn {
    position: absolute;
    top: -2px;
    right: 10px;
    background: var(--color-close-btn);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1; /* Ensure it is above other content */
}

.article-image {
    width: 220px;
    height: auto;
    border-radius: 8px;
}

.article-info,
.book-info,
.video-info {
    flex-grow: 1;
    margin: var(--spacing-medium) 0 var(--spacing-large);
}

.book-cover {
    width: 150px;
    height: auto;
    margin: 0 auto 10px;
    border-radius: 8px;
}

.book-info {
    text-align: left; /* Aligns book info text to the left */
}

.video-item-thumbnail {
    width: 220px;
    height: auto;
    border-radius: 8px;
}

.categories {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-large);
}

.categories h4 {
    margin-right: var(--spacing-small); /* Adds space between the heading and tags */
}

.category-tags {
    display: flex;
    flex-wrap: wrap;
}

.category-tag {
    color: var(--color-info);
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: 4px;
    margin-right: var(--spacing-small);
    display: inline-block;
}

.container-btn-link {
    display: flex;
    justify-content: space-evenly;
    gap: var(--spacing-small);
    margin-top: var(--spacing-large);
}

.toggle-description-btn,
.read-link {
    background: none;
    cursor: pointer;
    font-size: var(--font-size-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%; /* Ensure consistent width */
    padding: var(--spacing-small); /* Ensure consistent padding */
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
}

.toggle-description-btn {
    border: 2px solid var(--color-read-btn);
    color: var(--color-read-btn);
    margin: 0;
}

.read-link {
    color: var(--color-link-content);
    border: 2px dotted var(--color-link-content);
}

.read-link:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .media-section {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-medium);
    }

    .container-content-articles,
    .container-content-books,
    .container-content-videos {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
    }

    .article-item,
    .book-item,
    .video-item {
        flex-direction: row; /* Aligns items in a row */
    }

    .book-item,
    .video-item {
        align-items: center; /* Aligns book and video items in row */
    }

    h2 {
        margin-bottom: var(--spacing-small);
    }

    .clear-highlight-btn{
        right: -10px;
        padding: 8px 14px;

    }
}




@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        width: 180px;
        padding: var(--spacing-medium);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .close-btn {
        display: block; /* Shows the close button on small screens */
    }

    .menu-btn {
        display: block; /* Shows the menu button on small screens */
        background-color: var(--color-sidebar-background); /* Match the sidebar color */
    }

    .content {
        margin-left: 0;
        width: 100%; /* Full width content */
    }

    .container-content-articles,
    .container-content-books,
    .container-content-videos {
        flex: 1 1 100%; /* Full width within the container */
    }

    .read-link,
    .toggle-description-btn  {
        width: 80%;
        padding: var(--spacing-medium);
        margin: var(--spacing-small);
    }


    .container-btn-link {
        flex-direction: column;
        align-items: center;
        margin-top: var(--spacing-medium);
    }

    .article-item,
    .book-item,
    .video-item {
        padding: var(--spacing-medium);
        flex-direction: column;
        align-items: center;
    }

    /* Center and enlarge images for smaller screens */
    .article-image,
    .book-cover,
    .video-item-thumbnail {

        max-width: 300px;
        height: auto;
        margin: var(--spacing-medium) auto;
    }

    .book-item {
        text-align: center; /* Centers text in book items */
    }

    .clear-highlight-btn{
        top: -2px;
        right: -11px;
        padding: 8px 14px;
    }

    .article-item.highlighted, .book-item.highlighted, .video-item.highlighted{
        padding: 2.5rem var(--spacing-medium) var(--spacing-medium);
    }
}
