/* src/styles/support.css */
@import './variables.css';

.support-page {
    padding: 20px;
    background-color: var(--color-background);
    color: var(--color-text);
    overflow-y: auto; /*Ensures that the page is scrollable*/
    min-height: 100vh;
}

/* Styling for the container holding support cards */
.support-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.support-card, .map-card {
    background-color: var(--color-background-content);
    border: 1px solid var(--color-hover-border);
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.3s ease, background-color 0.3s ease;
}

.support-card {
    width: 49%;
    height: 105px;
    margin-bottom: 20px;
}

/* Expanded state of the support card */
.support-card.expanded {
    height: auto;
    overflow: visible;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    color: var(--color-text);
    background-color: var(--color-surface);
    position: relative;
}

.card-header .toggle-button {
    background: none;
    border: none;
    color: var(--color-text);
    font-size: 1.5rem;
    cursor: pointer;
}

/* Content inside the card */
.card-content {
    padding: 15px;
    color: var(--color-text);
    display: none;
}

.support-card.expanded .card-content,
.map-card.expanded .card-content {
    display: block;
}

.map-card {
    width: 100%;
    height: auto;
    position: relative;
}

.map-card-content {
    width: 100%;
    height: auto;
}
/* Fixed height to ensure full map visibility */
.map-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 630px; 
    width: 100%;
}

.map-card .leaflet-container {
    max-width: 1000px;
    width: 60%;
    margin-top: var(--spacing-medium);
}

.leaflet-container a {
    color: var(--color-a-clinic) !important; /*Increase Specificity - Ensure chosen anchor color is displayed over the standard color from leaflet*/
    font-weight: bolder;
    font-size: var(--font-size-medium);
}

.leaflet-container a:hover{
    text-decoration: underline;
}

.leaflet-popup-content{
    width: 330px !important; /*Increase Specificity - Ensure the width of the popup is wide enough*/
}

.clinic-info-row{
    display: inline;
}
#clinic-name {
    color: var( --color-clinic-name); /*Increase Specificity - Ensure there are no more specific selectors that override the .card-content background color (also used in downloads.css) */
    font-size: var(--font-size-medium);
}

.clinic-info {
    color: var( --color-text-clinic);
    font-weight: bold;
    font-size: var(--font-size-small);
    margin-bottom: 5px;
}

.leaflet-popup-content p{
    font-size: var(--font-size-small);
}

/* Footer-like container for copyright styling */
.container-contact-copyright {
    margin-top: 20px;
    text-align: center;
    color: var(--color-text);
}

/* Responsive design adjustments for small screens */
@media (max-width: 768px) {
    .support-card {
        width: 100%;
    }

    .card-header .toggle-button {
        display: block;
    }

    .map-card {
        width: 100%;
        height: auto;
        position: relative;
    }

    .map-card .leaflet-container {
        max-width: 1000px;
        width: 100%;
        margin-top: var(--spacing-medium);
    }
}
